<header role="banner" class="flex container">
  <a class="header-logo" href="http://auburn.edu/">
    <img src="//cdn.auburn.edu/assets/img/header-logo.png" alt="Auburn University Homepage" height="75" width="203">
  </a>
  <div class="header-right flex">
    <div class="header-title"><a href="http://olliatauburn.org/">OLLI at Auburn</a></div>
    <div class="header-navbar">
      <ul>
        <li><a href="/join">Join</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="#">Newsletter</a></li>
        <li><a href="#">Calendar</a></li>
        <li><a href="/about">About Us</a>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</header>

<main class="container">
  {{outlet}}
</main>

<div id="avatar" class="avatar">
  <div class="avatar-btn">
    Need help?
  </div>

  <div class="avatar-bar">
    <span class="avatar-helper-text">Hi! I'm here to help. </span>
    <input type="text" placeholder="Type what you'd like help with, like 'Register' or 'Event list'.">
    <span class="avatar-close">X</span>
  </div>
</div>

<div class="container">
  <footer class="row">
    <div class="avatar-bottom-margin">
    </div>
  </footer>
</div>
