<section class="row banner">
  <div class="col-md-4 emblem resource-emblem">
    <div class="emblem-header">
      <h1><a href="https://mell-base.uce.auburn.edu/wconnect/ShowSchedule.awp?&Mode=GROUP&Group=POAAUL&Title=OLLI+Membership+at+Auburn+University&SubGroup=POA  ">Register for courses</a></h2>
    </div>
    <div class="emblem-body">
      <a href="/public/fall-registration-form.pdf">Prefer a print-out form?</a>
    </div>
  </div>
  <div class="col-md-4 emblem resource-emblem">
    <div class="emblem-header">
      <h1>Course listings</h1>
    </div>
    <div class="emblem-body">
      <a class="resource" href="/fall-course-catalogue.pdf">
        <i class="fa fa-file-pdf-o"></i>
        <br />
        Fall catalogue
      </a>
      <a class="resource" href="/fall-course-grid.pdf">
        <i class="fa fa-th"></i>
        <br />
        Grid view
      </a>
      <a class="resource" href="/fall-course-descriptions.pdf">
        <i class="fa fa-list"></i>
        <br />
        Descriptive view
      </a>
    </div>
  </div>
  <div class="col-md-4 emblem resource-emblem">
    <div class="emblem-header">
      <h1>Materials</h1>
    </div>
    <div class="emblem-body">
      <a class="resource" href="http://olliatauburn.org/coursematerials.htm">
        <i class="fa fa-book"></i>
        <br />
        Course-specific materials
      </a>
      <a class="resource" href="https://auburn.qualtrics.com/SE/?SID=SV_8bPoCLNnfT6ZJvD">
        <i class="fa fa-graduation-cap"></i>
        <br />
        Propose a course
      </a>
      <a class="resource" href="https://auburn.qualtrics.com/SE/?SID=SV_7Nx3c6asMFM1igR">
        <i class="fa fa-file-powerpoint-o"></i>
        <br />
        Propose a Brown Bag Presentation
      </a>
    </div>
  </div>
</section>
<section class="row">
  <h1>Historical course listings</h1>
  <h2>2013-2014</h2>
  <h3>Fall 2013</h3>
  <ul>
    <li><a>Newspaper insert</a></li>
  </ul>
  <h3>Spring 2014</h3>
  <ul>
    <li><a>Newspaper insert</a></li>
    <li><a>Grid view</a></li>
    <li><a>Descriptive view</a></li>
  </ul>
  <h3>Summer 2014</h3>
  <ul>
    <li><a>Flyer</a></li>
  </ul>
</section>

